*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #2D4563;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #76B6C4;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #76B6C4;
  }

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

.customButton {
    padding: 8px;
    color: blue;
    border: solid 3px #2D4563;
    border-radius: 8px;
    background-color: white;
    cursor: pointer;
}

#statsButton {
    position: absolute;
    top: 1rem;
    left: 1rem;
}

#statsPanel {
    background-color: #2D4563 ;
    color: white;
    position: absolute;
    border-radius: 8px;
    top: 4rem;
    left: 1rem;
    height: 85%;
    width: 25%;
    border: solid 3px white;
    padding: 1rem;
    display: none;
    overflow: auto;
}

#statsPanelHeader{
    display: flex;
    gap: 16px;
    justify-content: space-between;
    align-items: center;
}


#restartSimulationButton {
    font-size: 10px;
    border: none;
}

#statsPanelColorPicker {
    border-radius: 50%;
    margin-right: 4px;
    width: 20px;
    height: 20px;
    border: 2px solid #fff;
    cursor: pointer;
}

#compassContainer {
    position: absolute;
    left: 0rem;
    bottom: 0rem;
}